@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-sec {
    height: 100%;
    width: 20%;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
}

.nav-content {
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-content a {
    padding: 10px 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    display: flex;
    justify-content: center;
}

.nav a:hover {
    color: #f1f1f1;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hubicon {
    width: 50px;
}


.logo-container a {
    font-weight: 800;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.logo-container a span {
    color: #D56B6B;
}

.info-sec {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-form {
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 75%
}

.user {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #D56B6B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.user span {
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#user-image {
    width: 20%;
    margin-right: 10px;
}

.admin,
.profile,
.training,
.custom,
.settings {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.admin:hover,
.profile:hover,
.training:hover,
.custom:hover,
.settings:hover {
    background-color: #ccc; 
}

#user-profile,
#user-training,
#user-custom,
#user-settings {
    width: 12%;
    margin-right: 10px;
}

button[type="logout"] {
    background-color: #D56B6B;
    width: 100%;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

button[type="logout"]:hover {
    background-color: #cf4d4d;
}

.form-user {
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.form-user span {
    padding-left: 20px;
    font-size: 20px;
}

#form-user-expand {
    margin-left: auto;
    padding-right: 30px;
    width: 1.5%;
    display: flex;
    justify-content: center;
}

#form-user-image {
    width: 5%;
    margin-left: 20px;
}

.form-gender,
.form-cweight,
.form-tweight,
.form-settings,
.form-height {
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.form-user span,
.form-gender span,
.form-cweight span,
.form-tweight span,
.form-height span {
    font-weight: 800;
}


.basic-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 15px;
}

/* Dark mode styles */
.darkmode .nav-sec {
    background-color: #212121;
    /* Dark gray background */
}

.darkmode .info-sec {
    background: #424242;
    /* Darker gray background */
}

.darkmode .nav-content a {
    color: #ffffff;
    /* White text color */
}

.darkmode .nav a:hover {
    color: #eeeeee;
    /* Light gray hover color */
}

.darkmode .logo-container a span {
    color: #D32F2F;
    /* Dark red color */
}

.darkmode .centered-form {
    background-color: #333333;
    /* Dark background */
}

.darkmode .user {
    background: #D32F2F;
    /* Dark red background */
}

.darkmode .profile:hover,
.darkmode .training:hover,
.darkmode .custom:hover,
.darkmode .settings:hover {
    background-color: #616161;
    /* Medium gray hover color */
}

.darkmode button[type="logout"] {
    background-color: #D32F2F;
    /* Dark red background */
    color: #ffffff;
    /* White text color */
}

.darkmode button[type="logout"]:hover {
    background-color: #B71C1C;
    /* Dark red hover color */
}

.darkmode .form-user {
    background-color: #3d3d3d;
    /* Dark gray background */
    color: #ffffff;
    /* White text color */
}

.darkmode .theme,
.darkmode .form-gender,
.darkmode .form-cweight,
.darkmode .form-tweight,
.darkmode .form-settings,
.darkmode .form-height {
    background-color: #3d3d3d;
    /* Dark gray background */
    color: #ffffff;
    /* White text color */
}

.darkmode .centered-form a {
    color: white;
}

.darkmode .hubicon,
.darkmode #form-user-expand,
.darkmode #user-profile,
.darkmode #user-training,
.darkmode #user-custom,
.darkmode #user-settings {
    filter: invert(1);
}

/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input[type="text"], #modal-gender {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #D56B6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

button[type="submit"]:hover {
    background-color: #cf4d4d;
}

.editBtn {
    cursor: pointer;
}
